 <div class="col-lg-6 col-md-6 col-sm-12 margin-30px-bottom sm-margin-20px-bottom">
                        <div class="feature-box-05 padding-40px-tb md-padding-30px-tb padding-20px-lr bg-white h-100">
                            <div class="row">
                                <div class="col-2">
                                    <div class="features-icon">
                                        <i class="{{ icon }}"></i>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <h4 class="font-weight-600 font-size20 md-font-size18 sm-font-size16 margin-10px-bottom sm-margin-8px-bottom">{{ title }}</h4>
                                    <p class="no-margin-bottom">{{ pragraph }}</p>
                                </div>
                            </div>
                        </div>
                    </div>