<div class="navbar-default">

                <!-- start top search -->
                <div class="top-search bg-theme">
                    <div class="container-fluid">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="{{'homepage'|page}}" class="navbar-brand"><img id="logo" src="{{'assets/img/logos/sheikhsoft-logo-final.png'|theme}}" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li><a href="{{'homepage'|page}}">Homepage</a></li>
                                         <li><a href="#!">Services</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Software Development</span>
                                                    <ul>
                                                        <li><a href="{{ 'services/custom-software-development'|page }}">Custom Software Development</a></li>
                                                        <li><a href="{{'services/enterprise-software-developers'|page}}">Enterprise Software Development</a></li>
                                                        <li><a href="{{'services/web-application-development'|page}}">Web Application Development</a></li>
                                                        <li><a href="{{'services/mobile-application-development'|page}}">Mobile Application Development</a></li>
                                                        <li><a href="{{'services/cloud-application-development'|page}}">Cloud Application Development</a></li>
                                                        <li><a href="{{'services/system-integration'|page}}">System Integration</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Advanced Tech</span>
                                                    <ul>
                                                        <li><a href="{{'services/augmented-reality'|page}}">Augmented Reality</a></li>
                                                        <li><a href="{{'services/virtual-reality'|page}}">Virtual Reality</a></li>
                                                        <li><a href="{{'services/mixed-reality'|page}}">Mixed Reality</a></li>
                                                        <li><a href="{{'services/robotic-process-automation'|page}}">Robotic Process Automation</a></li>
                                                        <li><a href="{{'services/artificial-intelligence'|page}}">Artificial Intelligence</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Advisory</span>
                                                    <ul>
                                                        <li><a href="{{'services/digital-transformation'|page}}">Digital Transformation</a></li>
                                                        <li><a href="{{'services/business-technology-consulting'|page}}">Business Technology Consulting</a></li>
                                                        <li><a href="{{'services/cloud-strategy-and-planning'|page}}">Cloud Strategy Consulting</a></li>
                                                        
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Maintenance and Support</span>
                                                    <ul>
                                                        <li><a href="{{'services/application-support'|page}}">Application Support</a></li>
                                                        <li><a href="{{'services/infrastructure-support'|page}}">Infrastructure Support</a></li>
                                                        <li><a href="{{'services/customer-support'|page}}">Customer Support</a></li>
                                                       
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#!">Industries</a>
                                             <ul>
                                                <li><a href="{{'industries/financial-services-industry'|page}}">Financial Services</a></li>
                                                <li><a href="{{'industries/real-estate-industry'|page}}">Real Estate</a></li>
                                                <li><a href="{{'industries/education-industry'|page}}">Education</a></li>
                                                <li><a href="{{'industries/logistics-industry'|page}}">Logistics</a></li>
                                                <li><a href="{{'industries/nonprofits'|page}}">Nonprofits</a></li>
                                                <li><a href="{{'industries/manufacturing'|page}}">Manufacturing</a></li>
                                                <li><a href="{{'industries/retail'|page}}">Retail</a></li>
                                                <li><a href="{{'industries/healthcare'|page}}">Healthcare</a></li>
                                                <li><a href="{{'industries/utilities'|page}}">Utilities</a></li>
                                                <li><a href="{{'industries/travel'|page}}">Travel</a></li>
                                                <li><a href="{{'industries/sports'|page}}">Sports</a></li>
                                                <li><a href="{{'industries/media'|page}}">Media</a></li>
                                            </ul>
                                        </li>
                                       
                                        <li><a href="#!">Products</a>
                                            <ul>
                                                <li><a href="{{'products/sales-team-management-system'|page}}">Sales Team Management System</a></li>
                                                <li><a href="{{'products/home-automation-solution'|page}}">Home Automation Solution</a></li>
                                                <li><a href="{{'products/task-management-system'|page}}">Task Management System</a></li>
                                                <li><a href="{{'products/gov-subsidy-monitoring-and-management-system'|page}}">Govt. Subsidy Monitoring and Management System</a></li>
                                                <li><a href="{{'products/account-management'|page}}">Account Management</a></li>
                                                <li><a href="{{'products/complete-ecommerce-solution'|page}}">Complete E-commerce solution With web,Android & IOS</a></li>
                                                 <li><a href="{{'products/ecommerce-app-flutter'|page}}">E-commerce Flutter App </a></li>
                                                 <li><a href="{{'products/ecommerce-web-app'|page}}">E-commerce Web App </a></li>
                                                
                                            </ul>
                                        </li>
                                       
                                        
                                        
                                        <li><a href="#!">Company</a>
                                            <ul>
                                                <li><a href="{{'about'|page}}">About Us</a></li>
                                                <li><a href="{{'career'|page}}">Careers</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li><a class="butn theme small" href="{{ 'contact'|page }}" style="margin-top:12px"><span>Contact</span></a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start attribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-70px-right xs-margin-65px-right">
                                        <ul>
                                            
                                            <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>