<!-- start testmonials section 
<section class="bg-img cover-background" data-overlay-dark="8" data-background="{{'assets/img/bg/bg4.jpg'|theme}}">
    <div class="container">

        <div class="section-heading">
            <h2 class="text-white">Our Client Words</h2>
        </div>

        <div class="testimonial-style8 owl-theme owl-carousel" data-slider-id="1">
            <div class="text-center">
                <p class="font-size18 xs-font-size16 width-55 md-width-75 sm-width-85 xs-width-100 line-height-35 xs-line-height-28 center-col text-white margin-40px-bottom">Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque inventore veritatis et quasi architecto beatae.</p>
                <h5 class="text-white margin-5px-bottom font-size18">Stepha Kruse</h5>
                <h6 class="font-size14 letter-spacing-1 font-weight-500 text-white opacity6 margin-45px-bottom">Designer</h6>
            </div>
            <div class="text-center">
                <p class="font-size18 xs-font-size16 width-55 md-width-75 sm-width-85 xs-width-100 line-height-35 xs-line-height-28 center-col text-white margin-40px-bottom">Aerspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque inventore veritatis et quasi architecto beatae.</p>
                <h5 class="text-white margin-5px-bottom font-size18">Dunican keithly</h5>
                <h6 class="font-size14 letter-spacing-1 font-weight-500 text-white opacity6 margin-45px-bottom">Networking</h6>
            </div>
            <div class="text-center">
                <p class="font-size18 xs-font-size16 width-55 md-width-75 sm-width-85 xs-width-100 line-height-35 xs-line-height-28 center-col text-white margin-40px-bottom">Rerspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque inventore veritatis et quasi architecto beatae.</p>
                <h5 class="text-white margin-5px-bottom font-size18">Alivin Corondo</h5>
                <h6 class="font-size14 letter-spacing-1 font-weight-500 text-white opacity6 margin-45px-bottom">Developer</h6>
            </div>
        </div>
        <div class="owl-thumbs text-center" data-slider-id="1">
            <button class="owl-thumb-item border-radius-50 width-60px sm-width-50px margin-5px-right"><img src="{{'assets/img/testmonials/t-7.jpg'|theme }}" class="border-radius-50" alt="" /></button>
            <button class="owl-thumb-item width-60px border-radius-50 sm-width-50px margin-5px-right"><img src="{{'assets/img/testmonials/t-8.jpg'|theme }}" class="border-radius-50" alt="" /></button>
            <button class="owl-thumb-item width-60px sm-width-50px border-radius-50"><img src="{{'assets/img/testmonials/t-9.jpg'|theme }}" class="border-radius-50" alt="" /></button>
        </div>

    </div>
</section>
 end testmonials section -->
